$color_1: #fff;
$font-family_1: Arial, sans-serif;
$background-color_1: #333;
$background-color_2: var(--maybank-yellow);
$border-bottom-color_1: #333;

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  top: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  left: 250px;
}

header {
  background-color: $background-color_1;
  color: $color_1;
  padding: 10px;
  text-align: center;
  top: 0;
  width: 100;
  margin: 0;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
}

nav li {
  &:hover {
    border-bottom-color: $border-bottom-color_1;

    &::after {
      background-color: $background-color_2;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $background-color_1;
    transition: background-color 0.3s ease;
  }
}

main {
  padding: 20px;
}

.card,
.report-card {
  background-color: $background-color_2;
  padding: 10px;
  margin-bottom: 10px;
}

.reports {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

footer {
  background-color: $background-color_1;
  color: $color_1;
  padding: 10px;
  text-align: center;
  margin: 0;
  bottom: 0;
  left: 250px;
  width: 100%;
  position: fixed;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  padding: 4px 8px;
  border-radius: 4px;
}

.tag-label {
  margin-right: 4px;
}

.tag-remove {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

// Optionally add hover effect
.tag:hover {
  background-color: #d1d1d1;
}


@media (min-width: 768px) {
  header {
    text-align: left;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .reports {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    text-align: left;
    margin: 0;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}

/* Form styles */
#account-form {
  max-width: 400px;
  margin: 0 auto;

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $background-color_1;
    color: $color_1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Responsive styles */
  @media (max-width: 600px) {
    max-width: 100%;
    padding: 0 20px;
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    max-width: 500px;
  }

  @media (min-width: 1025px) {
    max-width: 600px;
  }
}
