$color_1: #fff;
$background-color_1:var(--maybank-black);
$background-color_2: var(--maybank-yellow);
$background-color_3: var(--maybank-orange);
$background-color_4:var(--maybank-white);
$background-color_5: var(--maybank-dark-chocolate);
$border-bottom-color_1: #333;
$button-info: var(--info-button);
$button-success: var(--success-button);
$button-default: var(--default-button);
$button-warning: var(--warning-button);
$danger-button:var(--danger-button);

/* Mobile styles */
/* Media queries for responsiveness */
/* Tablet and larger screens */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  ;
}

.container {
  top: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  left: 250px;

}

header {
  background-color: $background-color_1;
  color: $color_1;
  padding: 10px;
  text-align: center;
  top: 0;
  width: 100;
  margin: 0;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
}



nav {
  li {
    &:hover {
      border-bottom-color: $border-bottom-color_1;

      &::after {
        background-color: $background-color_2;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $background-color_1;
      transition: background-color 0.3s ease;
    }
  }
}


main {
  padding: 20px;
  display: grid;
  grid-template-columns: 35fr;
  grid-gap: 20px;
}


.card {
  background-color: $background-color_4;
  padding: 10px;
  margin-bottom: 10px;
}

.reports {
  display: grid;
  grid-template-columns: 30fr;
  grid-gap: 10px;
}


.report-card {
  background-color: $background-color_2;
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: $background-color_1;
  color: $color_1;
  padding: 10px;
  text-align: center;
  margin: 0;
  bottom: 0;
  left: 250px;
  width: 100%;
  position: fixed;
}



/*table styles*/
.table-container {
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
}

th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
  border-top-left-radius: 10px;
}

th:last-child,
td:last-child {
  border-top-right-radius: 10px;
}

th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 5px;
  }

  td:nth-last-child(n+2):nth-last-child(-n+2),
  th:nth-last-child(n+2):nth-last-child(-n+2) {
    display: none;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
  }

  .responsive-table th,
  .responsive-table td {
    padding: 8px;
    border: 5px solid #333;
  }
}

/*table styles*/
.button-container {
  margin-top: 20px;

  button {
    margin-right: 10px;

    &.warning {
      color: white;
      background-color: var(--warning);
    }
  }
}


@media (min-width: 768px) {
  header {
    text-align: left;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .reports {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    text-align: left;
    margin: 0;
    bottom: 0;
    width: 100%;
    left: 0;

  }
}



/* Form styles */
/* Form styles */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.form-label {
  flex: 0 0 120px;
  margin-right: 10px;
  color: #333;
  font-weight: bold;
}

.form-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: #666;
}

i {
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    color: $background-color_3;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(224, 229, 235, 0.3);
  }
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #555;
}

.form-button:active {
  background-color: #222;
}


/* Form styles */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
  margin-bottom: 20px;
}

.popup-content form {
  display: flex;
  flex-wrap: wrap;
}

.popup-content .form-item {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.popup-content label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  width: 80px;
}

.popup-content input[type="text"],
.popup-content input[type="number"],
.popup-content input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.popup-content input[type="text"]:focus,
.popup-content input[type="number"]:focus,
.popup-content input[type="email"]:focus {
  outline: none;
  border-color: #666;
}

.popup-content button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  // transition: background-color 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &.warning {
    color: white;
    background: $button-warning;
  }

  &.danger {
    color: white;
    background: $danger-button;
  }

  &.info {
    color: white;
    background: $button-info;
  }

  &.default {
    color: white;
    background: $button-default;
  }

  &.success {
    color: white;
    background: $button-success;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(224, 229, 235, 0.3);
  }
}

.popup-content button:last-child {
  margin-right: 0;
}


@media (max-width: 768px) {
  .form-container {
    max-width: none;
    width: 90%;
  }

  .container {
    left: 0;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $background-color_1;

    ul {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }

    li {
      margin: 0;
    }
  }

  main {
    padding-top: 10px;
  }
}
